.alert-card {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  width: 50vh;
  text-align: center;
}
