.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* 
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: lightblue;
  padding: 20px 0;
  width: 100%; 
  box-sizing: border-box; 

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: blue;
} */
